@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Kanit:wght@300&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Kanit';
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    background-image: url(image/DSC_0010-1080p.jpg);
    backdrop-filter: blur(4px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


form {
    background: #ffffffee;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    padding: 30px;
    width: 1000px;
    max-width: calc(100%-30px);
}

.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-element span {
    margin-bottom: 20px;
}

@keyframes blink {
    50% { border-color: #ffffff; }
}
input, textarea {
    FONT-WEIGHT: 100;
    font-family: 'Kanit';
    font-size: 24px;
    border: 4px solid rgb(0, 162, 255);
    line-height: 2;
    padding: 10px;
    border-radius: 10px;
    background-image: url(image/outline_login_black_48dp.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 48px;

    animation: blink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction:normal;
}
form button {
    width: 100%;
    padding: 10px;
    color: rgb(0, 0, 0);
    background: #39bffd;
    border-radius: 10px;
    border: 0px solid #000000;
    font-family: 'Kanit';
    font-size: 30px;
    margin-bottom: 20px;
    cursor: pointer;

    transition-duration: 0.4s;
}

form button:hover {
background-color: #00aeff;
}
