@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Kanit:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Kanit';
    height: 100vh;
    background-color: rgba(19, 17, 17, 0.548);
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: #ffffff;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    padding: 40px;
    width: 1100px;
    max-width: calc(100%-30px);
}

/* .form-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

input[type="radio"] {
    display: none;    
}

label {
    position: relative;
    color: #01cc65;
    font-size: 30px;
    border: 2px solid #01cc65;
    border-radius: 10px;
    padding: 2px 5px;
    margin-right: 5px;
    margin-left: 2px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* label:before {
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid #01cc65;
    border-radius: 50%;

} */

.area1 {
    display: flex;
    justify-content: flex-start;
    width: 1000px;
    margin-bottom: 10px;
    font-size: 30px;

}

.area2 {
    display: flex;
    justify-content: flex-start;
    width: 1000px;
    margin-bottom: 10px;
    font-size: 30px;
}

.area3 {
    display: flex;
    justify-content: flex-start;
    width: 1000px;
    margin-bottom: 10px;
    font-size: 30px;
}

.area4 {
    display: flex;
    justify-content: flex-start;
    width: 1000px;
    margin-bottom: 10px;
    font-size: 30px;
}

.area5 {
    display: flex;
    justify-content: flex-start;
    width: 1000px;
    margin-bottom: 10px;
    font-size: 30px;
}

.area6 {
    display: flex;
    justify-content: flex-start;
    width: 1000px;
    margin-bottom: 10px;
    font-size: 30px;
}

input[type="radio"]:checked+label{
    
    background-color: #01cc65;
    color: white;
}

.fill-area {
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;

}
form button {
    width: 100%;
    margin: auto;
    padding: 10px;
    color: white;
    background: black;
    border-radius: 6px;
    border: none;

}



